*{
	
}

@font-face {
	font-family:Poppins-Medium;
	src: url("fonts/poppins/Poppins-Medium.otf") format("opentype");
	
	font-family:Poppins-SemiBold;
	src: url("fonts/poppins/Poppins-SemiBold.otf") format("opentype");
	
	font-family:BarlowBoldItalic;
	src: url("fonts/Barlow_Condensed/BarlowCondensed-BoldItalic.ttf") format("truetype");
	
	font-family:BarlowBlackItalic;
	src: url("fonts/Barlow_Condensed/BarlowCondensed-BlackItalic.ttf") format("truetype");
	
	font-family:BarlowMedium;
	src: url("fonts/Barlow_Condensed/BarlowCondensed-Medium.ttf") format("truetype");
	
	font-family:BarlowExtraBold;
	src: url("fonts/Barlow_Condensed/BarlowCondensed-ExtraBold.ttf") format("truetype");
}
header{
	position:fixed;
	overflow:hidden;
	background-color:#112B3C;
	padding-left:50px;
	padding-right:188.8124938949px; /*trial and error!*/
}
footer{
	overflow:hidden;
	background-color:#1746A2;
}
.footerbar{
	text-decoration:none;
	
	color:white;
	
	font-family:Barlow;
	font-size:20px;
	text-decoration:none;
	
	margin-left:124px;
}
.navbar{
	overflow:hidden;
	background-color:transparent;
	color:white;
	
	border-color:transparent;
	border-radius:10px;
	
	float:right;
	font-family:Barlow;
	font-size:30px;
	text-decoration:none;
	
	margin-left:10px;
	margin-top:12.5px;

	padding:5px;
	padding-left:50px;
	padding-right:50px;
	
	transition:0.8s;
}
.navbar:hover{
	background-color:grey;
	border-color:grey;
}
.imgLogo{
	float:left;
	
	margin-left:50px;
	margin-bottom:10px;
	margin-top:10px;
}
body{
	background-image: url("imges/yoru.png");
	background-size:1600px 966px;
	margin:0;
	background-color:black;
	
	font-family:BarlowMedium;
	text-shadow:2px 1px grey;
}
/*home page classes*/
.btn{
	color:#FF96AD;
	font-family:BarlowExtraBold;
	font-size:75px;
	
	border-radius:15px;
	padding-left:10px;
	padding-right:10px;
	
	background-color:transparent;
	transition:0.8s;
}
.btn:hover{
	background-color:rgb(183, 196, 207,.5);
}
.active{
	color:lime;
	text-decoration:none;
	background-color:green;
}
.highlighted{
	color:#A460ED;
	text-decoration:underline;
}
.headtext{
	float:left;
}
.pop{
	border-radius:15px;
	background-color:rgb(183, 196, 207,.5);
	padding-top:10px;
	padding-bottom:10px;
	margin-left:920px;
	margin-right:65px;
}
/*about page classes*/
/*about bg*/
.aboutBg{
	background-image: url("imges/about.gif");
	background-size:1600px 966px;
}
.aboutPic{
	float:left;
	border:10px solid white;
	border-radius:100px;
	margin-left:100px;
	margin-right:100px;
}
.aboutPic2{
	border:10px solid white;
	margin-left:100px;
	border-radius:50px;
	float:left;
}
.aboutInfo{
	font-size:25px;
	font-family:BarlowExtraBold;
	text-decoration:none;
	color:white;
}
.aboutInfo2{
	font-family:BarlowExtraBold;
	text-decoration:none;
	color:white;
	float:right;
	margin-right:35px;
	margin-top:140px;
}
.infoTextBubble{
	margin-left:675px;
	margin-right:75px;
	margin-top:25px;
	border-radius:25px;
	padding-top:1px;
	padding-bottom:50px;
	background-color:rgb(183, 196, 207,.5);
}
.galleryText{
	margin-top:265.6px;
	font-size:75px;
	font-family:BarlowExtraBold;
	background-color:rgb(183, 196, 207,.5);
	color:white;
	text-align:center;	
}
.picBubble{
	background-color:rgb(183, 196, 207,.9);
	padding-top:50px;
}
/*contact page classes*/
.contactLogo{
	float:left;
	margin-left:55px;
}
.contactBg{
	background-image: url("imges/genshin.jpg");
	background-size:1600px 966px;
}
.contactBg2{
	background-image: url("imges/genshin pot.gif");
	background-size:1600px 966px;
	padding-bottom:100px;
}
.contactInfo{
	float:left;
	
	font-size:70px;
	font-family:BarlowExtraBold;
	text-decoration:none;
	color:white;
}
.contactInfoHead{
	font-size:100px;
	font-family:BarlowExtraBold;
	text-decoration:none;
	color:white;
}
.contactInfoBubble{
	margin-left:100px;
	margin-right:100px;
	margin-top:50px;
	border-radius:25px;
	padding-bottom:790px;
	padding-right:15px;	
	padding-left:18px;
	background-color:rgb(183, 196, 207,.5);
}
.Email{
	color:orange;
	margin-left:325px;
}
.Facebook{
	color:cyan;
	margin-left:220px;
}
.Discord{
	color:aquamarine;
	margin-left:px;
}